# Classwork -  Lists,Sets and Tuples

## Lists

In [1]:
a = [1, 4, 5, 7, 8, -2, 0, -1] #Question 1

In [2]:
 #Question 2
print(a[2])
print(a[4])

5
8

In [3]:
a_sorted = sorted(a,reverse = True)  #Question 3

In [4]:
#Question 4
print(a_sorted[0:3])
print(a_sorted[1:6])

[8, 7, 5]
[7, 5, 4, 1, 0]

In [5]:
# Question 5
a_sorted.index(5)

2

In [6]:
#Question 6
print(a_sorted)
print(a_sorted.pop(2))
print(a_sorted.pop(3))

[8, 7, 5, 4, 1, 0, -1, -2]
5
1

In [9]:
a_sorted #Question 7

[8, 7, 0, -2]

In [10]:
b = ["grapes", "Potatoes","tomatoes","Orange","Lemon","Broccoli","Carrot","Sausages"] #Question 8

In [11]:
b_sorted = sorted(b) #Question 9

In [12]:
c = a[0:3] + b[3:6] #Question 10

In [13]:
c

[1, 4, 5, 'Orange', 'Lemon', 'Broccoli']

# Sets

In [51]:
a1 = ["Cookies", "Chocolate",8, True, -3, -5, "Chocolate", 8, False, 8] #Question 1

In [52]:
b1 = [8, True, 10, 14,"Chocolate", "Milk", "Jelly", True, False, True] #Question 2

In [53]:
set_a = set(a1) #Question 3

In [54]:
set_b = set(b1) #Question 4

In [55]:
union_ab = set_a | set_b #Question 5

In [56]:
intersection_ab = set_a & set_b #Question 6

In [62]:
#Question 7
union_ab.update({"Kit-kat","Oreo"})
print(union_ab)

{False, True, 'Kit-kat', 8, 'Milk', 10, 'Oreo', 'Jelly', 14, 'Chocolate', 'Cookies', -5, -3}

In [63]:
#Question 8
new_set = union_ab | intersection_ab
print(new_set)

{False, True, 'Kit-kat', 8, 'Milk', 10, 'Oreo', 'Jelly', 14, 'Chocolate', 'Cookies', -5, -3}

In [64]:
"Chocolate" in new_set #Question 9

True

In [65]:
#Question 10
new_set.remove("Oreo")
print(new_set)

{False, True, 'Kit-kat', 8, 'Milk', 10, 'Jelly', 14, 'Chocolate', 'Cookies', -5, -3}

## Tuples

In [117]:
t1 = (1, True, "a", -2, "Anna") #Question 1

In [118]:
# Question 2 - tuples are immutable, so we can not remove elements

In [132]:
t2 = (1,2,3,4,5) #Question 3

In [133]:
t3 = t1[:2] + t2[:3] #Question 4

In [137]:
t3[2] #Question 5

1

In [141]:
#Question 6
t4 =   [(1,3,5), (8,9), ("Anna", "Bob", "Alice")] 
t4[0][1]

3