## Date and Time

There is a popular time module available in Python which provides functions for working with times, and for converting between representations. The function time.time() returns the current system time in ticks since 12:00am, January 1, 1970(epoch).

1 Tick = 1 Second

In [1]:
import time

ticks = time.time()
print ("Number of ticks since 12:00am, January 1, 1970:", ticks)

Number of ticks since 12:00am, January 1, 1970: 1537822039.9130964

In [2]:
localtime = time.localtime()
print ("Local current time :", time.localtime())

Local current time : time.struct_time(tm_year=2018, tm_mon=9, tm_mday=25, tm_hour=0, tm_min=47, tm_sec=22, tm_wday=1, tm_yday=268, tm_isdst=0)

In [3]:
localtime = time.asctime()
print ("Local current time :", localtime)

Local current time : Tue Sep 25 00:47:35 2018

In [4]:
print(time.ctime())

Tue Sep 25 00:47:40 2018

### Getting calendar for a month

In [5]:
import calendar

cal = calendar.month(2008, 1)
print ("Here is the calendar:")
print (cal)
type(cal)

Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

str

In [6]:
import datetime

d = datetime.date(2016, 7, 24)
print(d)

2016-07-24

In [21]:
tday = datetime.date.today()
print('Date: ', tday)
print('Year: ', tday.year)
print('Month: ', tday.month)
print('Day: ', tday.day)
print('Day of the week (version 0): ', tday.isoweekday())
#Monday 1  Tuesday 2 ...
print('Day of the week (version 1): ', tday.weekday())
#Monday 0  Tuesday 1 ...

Date:  2018-09-18
Year:  2018
Month:  9
Day:  18
Day of the week (version 0):  2
Day of the week (version 1):  1

In [8]:
tday = datetime.date.today()
print('Date today: ', tday)
tdelta = datetime.timedelta(days = 7)
print(tdelta)
print('Date today + 7 days: ', tday + tdelta)
print('Date today - 7 days: ', tday - tdelta)
#date2 = date1 + timedelta

Date today:  2018-09-25
7 days, 0:00:00
Date today + 7 days:  2018-10-02
Date today - 7 days:  2018-09-18

In [9]:
bday = datetime.date(2019, 2, 5)
till_bday = bday - tday
print(type(till_bday))
print("Days until my next birthday: ", till_bday)
print("Seconds until my next birthday: ", till_bday.total_seconds())

<class 'datetime.timedelta'>
Days until my next birthday:  133 days, 0:00:00
Seconds until my next birthday:  11491200.0

In [42]:
# datetime.time(hour, minutes, seconds, miliseconds)
t = datetime.time(9, 30, 45, 100000)
print('Time: ', t)
print('Hours: ', t.minute)

Time:  09:30:45.100000
Hours:  30

In [10]:
#datetime.datetime(year, month, day, hour, minutes, seconds, miliseconds)
dt = datetime.datetime(2016, 7, 26, 12, 30, 45, 100000)
print('Date: ', dt)
print('Time: ', dt.time())
print('Year: ', dt.year)

Date:  2016-07-26 12:30:45.100000
Time:  12:30:45.100000
Year:  2016

In [44]:
dt = datetime.datetime(2016, 7, 26, 12, 30, 45, 100000)
tdelta = datetime.timedelta(hours = 7)
print('Date and Time: ', dt)
print('+ 7 days: ', dt + tdelta)

Date and Time:  2016-07-26 12:30:45.100000
+ 7 days:  2016-07-26 19:30:45.100000

In [12]:
dt = datetime.datetime(2016, 7, 26, 12, 30, 45, 100000)
tdelta = datetime.timedelta(hours = 12)
print('Date and Time: ', dt)
print('+ 12 hours: ', dt + tdelta)

Date and Time:  2016-07-26 12:30:45.100000
+ 12 hours:  2016-07-27 00:30:45.100000

In [45]:
dt_today = datetime.datetime.today()
dt_now = datetime.datetime.now()

print('Date and time today: ', dt_today)
#print(1)
print('Date and time now: ', dt_now)

#the 2 would be exactly the same if were executed at the same time

Date and time today:  2018-09-18 19:50:46.311272
Date and time now:  2018-09-18 19:50:46.311271