## List

In [103]:
ex = list()
dir(ex)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [102]:
help(ex.pop)

Help on built-in function pop:

pop(...) method of builtins.list instance
    L.pop([index]) -> item -- remove and return item at index (default last).
    Raises IndexError if list is empty or index is out of range.

### Lists are written within square brackets

In [1]:
z = [3, 5, 9, 2]

In [73]:
x = [0] * 5
x

[0, 0, 0, 0, 0]

In [76]:
x = ['Hello'] * 4
x

['Hello', 'Hello', 'Hello', 'Hello']

In [13]:
list1 = list(range(1,10,1))
list2 = list(range(1,10,2))
list3 = list(range(1,-10,-2))
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[1, -1, -3, -5, -7, -9]

### Lists store data of different types

In [2]:
l1 = ['John', 'Anna', False, 1, 1, 2]
l1

['John', 'Anna', False, 1, 1, 2]

In [ ]:
Check if element is in list

In [3]:
1 in l1

True

In [4]:
'Alice' not in l1

True

### Accessing values in list

In [4]:
#The first element is at index 0
z[0]

3

In [5]:
#The second element is at index 1
z[1]

5

In [6]:
#Access the last element of list
z[-1]

2

In [7]:
#Access second from last element of list
z[-2]

9

### Slicing lists

In [8]:
#The first index is inclusive and the second one is not
z[1:3]

[5, 9]

In [9]:
#Everything up to index 2
z[:2]

[3, 5]

In [10]:
#index 2 till the end of list
z[2:]

[9, 2]

### Minimum, Maximum, Length, Sum

In [12]:
print('minimum: ', min(z))
print('maximum: ', max(z))
print('length: ', len(z))
print('sum: ', sum(z))

minimum:  2
maximum:  9
length:  4
sum:  19

### Count the number of times value is in list

In [14]:
list1 = [1, 3, 4, 5, 9, 10, 3]
list1.count(3)

2

### Reversing the list

In [65]:
list1.reverse()
list1

[3, 10, 9, 5, 4, 3, 1]

### Return first index of value

In [15]:
list1.index(3)

1

### You can specify where you start your search

In [16]:
list1.index(3, 3)

6

In [23]:
#random_list.index(value, start, stop)
list1.index(3, 1, 6)

1

### Copying a list

In [1]:
old_list = [1, 2, 3]
new_list = old_list

In [2]:
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3]
new list:  [1, 2, 3]

In [3]:
new_list.append('a')

In [4]:
#The old list is also modified
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3, 'a']
new list:  [1, 2, 3, 'a']

In [5]:
old_list = [1, 2, 3]
new_list = old_list.copy()

In [6]:
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3]
new list:  [1, 2, 3]

In [7]:
new_list.append('a')

In [8]:
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3]
new list:  [1, 2, 3, 'a']

### Empty the list

In [97]:
list1 = [{1, 2}, ('a'), ['1.1', '2.2']]
print('List before clear():', list1)
# clearing the list
list1.clear()

print('List after clear():', list1)

List before clear(): [{1, 2}, 'a', ['1.1', '2.2']]
List after clear(): []

In [100]:
list1 = [{1, 2}, ('a'), ['1.1', '2.2']]
print('List before del:', list1)
# deleting the list
del list1[:]

print('List after del:', list1)

List before del: [{1, 2}, 'a', ['1.1', '2.2']]
List after del: []

### Sorting a list

In [41]:
x = [3, 7, 1, 4, 5, 9, 11, 3, 4, 7]
y = ['Steve', 'Anna', 'Jane', 'David'] #add 'apple'

In [25]:
#From low to high
x.sort()
print(x)

[1, 3, 3, 4, 4, 5, 7, 7, 9, 11]

In [42]:
#From high to low
x.sort(reverse = True)
print(x)

[11, 9, 7, 7, 5, 4, 4, 3, 3, 1]

In [31]:
#From A-Z, a-z
y.sort()
print(y)

['Anna', 'David', 'Jane', 'Steve']

In [33]:
#From Z-A, z-a
y.sort(reverse = True)
print(y)

['Steve', 'Jane', 'David', 'Anna']

In [36]:
#Sorting list without altering the original list
new_list = sorted(y)
print(new_list)
print(y)

['Anna', 'David', 'Jane', 'Steve']
['Steve', 'Jane', 'David', 'Anna']

### Add to the end of list

In [43]:
x

[11, 9, 7, 7, 5, 4, 4, 3, 3, 1]

In [44]:
x.append(2)
x

[11, 9, 7, 7, 5, 4, 4, 3, 3, 1, 2]

### Remove first occurence of value in list

In [45]:
x.remove(7)
x

[11, 9, 7, 5, 4, 4, 3, 3, 1, 2]

### Remove item at the index you provide

In [47]:
x

[11, 9, 7, 5, 4, 4, 3, 3, 1, 2]

In [48]:
#will also return the item you remove
x.pop(3)

5

In [57]:
x

[11, 9, 7, 4, [4, 5], 4, 3, 3, 1, 2, 4, 5]

### Extend (useful for concatenating lists)

In [50]:
x.extend([4, 5])

In [52]:
x

[11, 9, 7, 4, 4, 3, 3, 1, 2, 4, 5]

### You can also use + for concatenating lists

In [53]:
print('x+y= ',x+y)

x+y=  [11, 9, 7, 4, 4, 3, 3, 1, 2, 4, 5, 'Steve', 'Anna', 'Jane', 'David']

### Insert item before the index you provide

In [54]:
x

[11, 9, 7, 4, 4, 3, 3, 1, 2, 4, 5]

In [55]:
x.insert(4, [4, 5])

In [56]:
x

[11, 9, 7, 4, [4, 5], 4, 3, 3, 1, 2, 4, 5]

### Multidimentional lists

In [67]:
#create a 2D list, each element in this list is a list itself
list2 = [[1,2],[3,4],[5,6]]
list2

[[1, 2], [3, 4], [5, 6]]

In [69]:
print(list2[1])

[3, 4]

In [70]:
print(list2[1][0])

3

In [71]:
#create a 3D list, each element in this list is a list of lists
list3 = [[[1,0],[2,0]],[[3,4],[4,8]],[[5,-1],[6,-7]]]
list3

[[[1, 0], [2, 0]], [[3, 4], [4, 8]], [[5, -1], [6, -7]]]

In [72]:
print(list3[1][0][0])

3

In [6]:
import sys
x = "2,3,4,5,6,7,8"
def adjacent_elements_product(x):
	x = x.replace(' ','')
	print(x)
	l = []
	b = 0		
	for i in range(len(x)):
		if x[i] == ',':
            print(x[i])
			l.append(float(x[b+1:i]))
			b = i
	print(l)
	p = l[0]*l[1]
	for j in range(1,(len(l)-1)):
		if l[j]*l[j+1] > p:
			p = l[j]*l[j+1]
	return p
print(adjacent_elements_product(x))

IndentationError: unindent does not match any outer indentation level (<ipython-input-6-157b0dbcbd33>, line 10)

In [7]:
def divisors(x):
	l = []
	for i in range(1,x+1):
		if x%i == 0:
			l.append(i)
	return l
def prime_num_checker(x):
    s = divisors.divisors(x)
    print(len(s))
	if len(s)== 2:
		return True
	else:
		return False
print(prime_num_checker(x))

TabError: inconsistent use of tabs and spaces in indentation (<ipython-input-7-15ad23da1b44>, line 10)

In [8]:
a = '888'
a.upper()

'888'