## Sets

### Create an empty set

In [4]:
ex = set()
ex

set()

In [3]:
dir(ex)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [4]:
help(ex.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [6]:
ex.add(42)
ex.add(False)
ex.add('Hi')
ex

{42, False, 'Hi', 'cat', 'pig'}

In [5]:
ex.update(['pig', 'cat'])
ex

{'cat', 'pig'}

### Sets are written within curly braces

In [31]:
set1 = {1,3,4,5,7,'Anna',True}
set1

{1, 3, 4, 5, 7, 'Anna'}

### There are no duplicates in a set

### Unlike lists, the order of elements doesn't matter => We cannot access individual values in a set.

In [6]:
ex.add(42)
ex

{False, 42, 'Hi'}

In [32]:
set1 = {1,3,3,3,3,5}
set2 = {1,3,5}
print('set1: ',set1)
print('set2: ',set2)

set1:  {1, 3, 5}
set2:  {1, 3, 5}

### Length of the set

In [7]:
len(ex)

3

### Remove an element from the set

In [ ]:
ex

In [8]:
ex.remove(42)
ex

In [ ]:
ex.discard('Hi')
ex

In [10]:
#gives an error if element is not a member of the set
ex.remove(42)

KeyError: 42

In [11]:
#does nothing if element is not a member of the set
ex.discard(42)

### Creating a set in a different way

In [16]:
ex2 = set([1, 3, 5, 7, 11, 13, 'John'])
ex2

{1, 11, 13, 3, 5, 7, 'John'}

### Empty the set

In [17]:
ex2.clear()
len(ex2)

SyntaxError: can't delete function call (<ipython-input-17-6a4e951b2631>, line 1)

### Union and intersection of 2 sets

In [18]:
odds = set([1, 3, 5, 7, 9])
evens = set([2, 4, 6, 8, 10])
primes = set([2, 3, 5, 7])

In [18]:
odds.union(evens)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [20]:
evens.union(odds)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [24]:
odds.intersection(primes)

{3, 5, 7}

In [25]:
primes.intersection(evens)

{2}

In [26]:
evens.intersection(odds)

set()

In [19]:
#intersection_update() updates set evens with the set intersection of evens and odds.
evens.intersection_update(odds)
evens

set()

In [33]:
#in primes but not in odds
primes.difference(odds)

{2}

In [68]:
#difference_update() updates set primes with the set difference of primes-odds.
primes.difference_update(odds)
primes

### Binary operations

In [ ]:
odds = set([1, 3, 5, 7, 9])
evens = set([2, 4, 6, 8, 10])
primes = set([2, 3, 5, 7])

In [66]:
#AND
primes & evens

{2}

In [36]:
#OR
primes | evens

{2, 3, 4, 5, 6, 7, 8, 10}

In [39]:
evens - primes

{4, 6, 8, 10}

In [40]:
primes - evens

{3, 5, 7}

### Check if element is in a set

In [27]:
2 in odds

False

In [28]:
2 in evens

True

In [29]:
2 not in odds

True

In [71]:
#Sets are disjoint if and only if their intersection is the empty set.
a = {0, 1, 2}
a.isdisjoint([1])

False

In [72]:
a = {0, 1, 2}
a.isdisjoint({1})

False

In [73]:
a = {0, 1, 2}
a.isdisjoint({3, 4})

True

### Convert list to set

In [42]:
list1 = [1, 3, 5, 5, 6, 7, 7, 7, 7]
print('list1: ', list1)

list1:  [1, 3, 5, 5, 6, 7, 7, 7, 7]

In [43]:
set1 = set(list1)
print('set1: ', set1)

set1:  {1, 3, 5, 6, 7}

### Subset method

In [47]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1, 3, 5}
c = {1, 2, 2, 2}
print('a: ',a)
print('b: ',b)
print('c: ',c)

a:  {1, 2, 3, 4, 5, 6, 7}
b:  {1, 3, 5}
c:  {1, 2}

In [46]:
b.issubset(a)

True

In [48]:
c.issubset(a)

True

In [49]:
c.issubset(b)

False

### Check if set is subset of superset of the given set

In [52]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print('DaysA: ', DaysA)
print('DaysB: ', DaysB)
print('DaysA is a subset of DaysB: ',SubsetRes)
print('DaysB is a superset of DaysA: ',SupersetRes)

DaysA:  {'Mon', 'Wed', 'Tue'}
DaysB:  {'Wed', 'Fri', 'Tue', 'Thu', 'Mon', 'Sat', 'Sun'}
DaysA is a subset of DaysB:  True
DaysB is a superset of DaysA:  True

In [74]:
print(DaysA.issubset(DaysB))
print(DaysB.issuperset(DaysA))

True
True

### Copying a set

In [54]:
old_set = {1, 2, 3}
new_set = old_set

In [55]:
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3}
new set:  {1, 2, 3}

In [56]:
new_set.add('a')

In [57]:
#The old set is also modified
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3, 'a'}
new set:  {1, 2, 3, 'a'}

In [59]:
old_set = {1, 2, 3}
new_set = old_set.copy()

In [60]:
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3}
new set:  {1, 2, 3}

In [61]:
new_set.add('a')

In [62]:
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3}
new set:  {1, 2, 3, 'a'}

In [53]:
dir(ex)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']