## Tuples

### Smaller and faster alternative (to lists) to work with ordered data

In [1]:
tuple1 = (1, 4, 9, 16, 25, 36)
tuple1

(1, 4, 9, 16, 25, 36)

In [2]:
print(len(tuple1))

6

### Lists occupy more memory, partly because of extra functionality

In [6]:
print(dir(list()))
print("")
print(dir(tuple()))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

### How much memory do lists and tuples occupy?

In [7]:
#This can be significant when working with big datasets
import sys

list_test = [1, 2, 3, "a", "b", "John"]
tuple_test = (1, 2, 3, "a", "b", "John")

print("List size: ", sys.getsizeof(list_test))
print("Tuple size: ", sys.getsizeof(tuple_test))

List size:  112
Tuple size:  96

### Creation time list vs tuple

In [8]:
#Creating 1000000 lists and tuples
import timeit

list_test = timeit.timeit(stmt="[1,2,3,4,5]", number = 1000000)
tuple_test = timeit.timeit(stmt="(1,2,3,4,5)", number = 1000000)

print("List time: ", list_test)
print("Tuple time: ", tuple_test)

List time:  0.13299372009316623
Tuple time:  0.024455534130164686

### Creating a tuple

In [10]:
empty_tuple = ()
t1 = ("a") #string
t2 = ("a" , ) #tuple
t3 = ("a", "b")
t4 = ("a", "b", "c")

print(empty_tuple)
print(t1)
print(t2)
print(t3)
print(t4)

()
a
('a',)
('a', 'b')
('a', 'b', 'c')

### Alternative construction

In [11]:
t1 = 1, 
t2 = 1, 2
t3 = 1, 2, 3

print(t1)
print(t2)
print(t3)

print(type(t1))
print(type(t2))
print(type(t3))

(1,)
(1, 2)
(1, 2, 3)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

### Accessing values in tuples

In [16]:
# (age, country, knows python)

survey = (27, "Vietnam", True)

age = survey[0]
country = survey[1]
knows_python = survey[2]

print('age: ', age)
print('country: ', country)
print('knows python?: ', knows_python)

age:  27
country:  Vietnam
knows python?:  True

In [17]:
survey2 = (30, "Armenia", False)

age, country, knows_python = survey2

print('age: ', age)
print('country: ', country)
print('knows python?: ', knows_python)

age:  30
country:  Armenia
knows python?:  False

In [19]:
#error
a, b, c = (1, 2, 3, 4)

ValueError: too many values to unpack (expected 3)

In [20]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

### Updating tuples

In [3]:
#Unlike lists and sets, tuples cannot be modified.
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

### Delete tuple elements

In [22]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)

del tup

print("After deleting tup : ", tup)

#Note an exception raised, this is because after del tup tuple does not exist any more

('physics', 'chemistry', 1997, 2000)

NameError: name 'tup' is not defined

### Repetition

In [23]:
('Hi!',) * 4

('Hi!', 'Hi!', 'Hi!', 'Hi!')

### Membership

In [24]:
3 in (1, 2, 3)

True

In [25]:
4 not in (1, 2, 3)

True

### Min and Max

In [28]:
print(max((1, 2 , 3)))
print(min((1, 2 , 3)))

3
1

### Converting list to tuple

In [29]:
tuple([1, 2, 3])

(1, 2, 3)